{% extends "layout.html" %}
{% load i18n %}
{% load staticfiles %}

{% block styles %}
    {% comment %}
        If you are developing Oscar's CSS, or overriding Oscar's CSS
        files in your project, then set USE_LESS = True in your
        settings file. This will enable the on-the-fly less compiler.
    {% endcomment %}
    {% if use_less %}
        <link rel="stylesheet/less" type="text/css" href="{% static "oscar/less/styles.less" %}" />
    {% else %}
        <link rel="stylesheet" type="text/css" href="{% static "oscar/css/styles.css" %}" />
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{% static "stylesheets/style.css" %}" />
    <link rel="stylesheet" href="{% static "oscar/js/bootstrap-datetimepicker/bootstrap-datetimepicker.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "oscar/css/datetimepicker.css" %}" />
{% endblock %}

{% block title %}
    {{ flatpage.title}} | {{ block.super }}
{% endblock %}

{% block header%}
    <div class="page-header action">
        <h1>{{ flatpage.title }}</h1>
    </div>
{% endblock %}

{% block content %}
    <article>{{ flatpage.content }}</article>
{% endblock %}
